@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Palette+Mosaic&family=Sigmar+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body{
    background: rgb(238, 238, 238); 
}
header{
    background: rgb(36, 36, 36);
    height: 65px;
    box-shadow: 0 1px 20px  rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid gray;
    z-index: 10;
    padding: 8px;
}
header span{
    position: absolute;
    top: 9px;
    left: 125px;
    font-size: 2.5em;
    color: white;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 80px;
    top: 15px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
    width: 60px;
    height: 5px;
    border-radius: 4px;
    margin: 0 0 9px 0;
    background: white;
    transition: all 0.3s ease-out;
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(50deg) translate(19px, -5px);
}
.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-50deg) translate(19px, -2px);
}

.menu {
    position: fixed;
    top: 64px;
    left: -100%;
    width: 30%;
    height: 100vh;
    background: rgb(36, 36, 36);
    transition: 0.3s;
}
.menu.show {
    left: 0;
    transition: 0.3s;
}
.menu-nav{
    margin-top: 50px;
}
.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    text-align: center;
    background: rgb(54, 54, 54);
    padding: 20px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.nav-item a:hover{
    background: rgb(51, 51, 51);
}
.userDataMenu{
    color:white;
    text-align: center;
    position: relative;
    top: 150px;
}

.active{
    border-left: 5px solid white;
}