@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
body{
    overflow-x: hidden;
}

input[type="checkbox"]{
    visibility: hidden;
    position: absolute;
}
.menu{
    display: none;
    z-index: 10;
    position: absolute;
    font-size: 2vw;
    
}
#check:checked ~ ul{
    left: 0;
    transition: .5s;
}

.circle1{
    z-index: -1;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 30vw;
    left: 80vw;
}
.circle2{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 200vw;
    left: 80vw;
}
.circle3{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 380vw;
    left: 80vw;
}
.circle4{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 570vw;
    left: 80vw;
}
.circle5{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 110vw;
    left: 10vw;
}
.circle6{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 290vw;
    left: 10vw;
}
.circle7{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 470vw;
    left: 10vw;
}
.circle8{
    display: none;
    z-index: -2;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 640vw;
    left: 10vw;
}
.circle9{
    display: none;
    z-index: -1;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 760vw;
    left: 80vw;
}
.circle10{
    display: none;
    z-index: -2;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
        box-shadow: 
        0 0 0 10vw #f9f9fa,
        0 0 0 20vw #f3f3f5,
        0 0 0 30vw #f9f9fa;
    position: absolute;
    top: 810vw;
    left: 10vw;
}

nav{
    top: 0;
    background: #fd5353;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 3.3vw;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
nav ul li a{
    
    text-decoration: none;
    font-size: 2.3vw;
    color: white;
    display: block;
    margin-right: 1.5vw;
}
ul li a:hover{
    color: #3a4151;
    transition: 0.5s;
}
nav ul{
    justify-content: center;
    display: flex;
    list-style: none;
}

.title h1{
    margin: 5vw 0 3vw 0;
    font-size: 4vw;
    text-align: center;
    margin-right: 2vw;
    text-transform: capitalize;
    color: #fd5353;
    animation: mymove 1s;
    position: relative;
}
@keyframes mymove{
    from{top: -10vw;}
    to{top: 0;}
  }

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 4vw;
}
.gallery img{
    width: 250px;
    height: 200px;
}
.naslov{
    text-align: center;
}
h1{
    font-size: 40px;
    line-height: 10px;
    text-transform: uppercase;
    font-family: 'Lacquer', sans-serif;
}
.pictureContainer {
    position: relative;
    height: 216px;
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .text {
    font-family: 'Lacquer', sans-serif;
    text-align: center;
    padding: 90px;
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(252, 252, 252, 0.6);
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  .pictureContainer:hover .text {
    visibility: visible;
    opacity: 1;
  }

  footer{
    width: 100vw;
    background: #fd5353;
    z-index:-2;
    padding: 3vw;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: black;
}
.footer-contact h3{
    margin-bottom: 1vw;
}
.social h3{
    margin-bottom: 2vw;
}
.social img{
    width:3vw;
}
.footer-contact p{
    font-size: 1.1vw;
}
.footer-contact button{
    color: black;
    background: #fb525300;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1vw;
    padding: 0.5vw 1vw 0.5vw;
    font-size: 1.3vw;
    margin-top: 1vw;
    cursor: pointer;  
}
.top img{
    width: 3vw;
    height: 3vw;
}
.top a{
    font-size: 1.2vw;
}
.copy{
    text-align: end;
    margin-right: 8vw;
}

@media (max-width: 900px){
    nav{
        height: 4.5vw;
    }
    nav ul li a{
        font-size: 3vw;
    }
    footer{
        position: relative;
        top: 10vw;
        z-index: 0;
    }
    .gallery{
        position: relative;
        top: 10vw;
    }
    .title h1{
        position: relative;
        top: 5vw;
        font-size: 7vw;
    }
    @keyframes mymove{
        from{top: -10vw;}
        to{top: 5vw;}
      }
    .circle5{
        display: block;
    }
}

@media (max-width: 750px){
    .active{
        color: #fb5253;
    }
    .title h1{
        top: 10vw;
        font-size: 8vw;
    }
    @keyframes mymove{
        from{top: -10vw;}
        to{top: 10vw;}
      }
    .gallery{
        top: 20vw;
    }
    footer{
        top: 20vw;
    }
    .top{
        display: none;
    }
    .footer-contact h3, .social h3{
        font-size: 4vw;
    }
    .social img{
        width: 5vw;
    }
    .footer-contact p{
        font-size: 2vw;
    }
    .footer-contact button{
        padding: 1vw 2vw 1vw;
        font-size: 2.5vw;
    }

    nav{
        height: 7vw;
        border-radius: 0;
        position: fixed;
    }
    nav ul{
        display: block;
        width: 50vw;
        height: 100vh;
        background: #3a4151;
        position: relative;
        left: -100%;
    }
    nav ul li{
        padding-top: 5vw;
    }
    nav ul li a{
        font-size: 5vw;
        text-align: center;
        padding: 3vw;
    }
    nav ul li a:hover{
        color: #fb5253;
    }
    .menu{
        font-size: 5vw;
        display: block;
        float: right;
        margin-left: 3vw;
    }
    .circle2{
        display: block;
    }
    .circle5{
        display: block;
    }
}
@media (max-width: 500px){
    footer{
        top: 25vw;
    }
    .gallery{
        top: 25vw;
    }
    .title h1{
        top: 17vw;
        font-size: 9vw;
    }
      * {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        }
        nav ul li a:hover{
            color: white;
        }
    .footer-contact h3, .social h3{
        font-size: 4vw;
        margin-top: 5vw;
    }
    .social img{
        width: 7vw;
        height: 7vw;
        margin-top: 4vw;
    }
    .footer-contact p{
        font-size: 3vw;
    }
    .footer-contact button{
        padding: 1.5vw 2.5vw 1.5vw;
        font-size: 4vw;
    }

    nav{
        border-radius: 0;
        height: 13vw;
        position: fixed;
    }
    .menu{
        font-size: 10vw;
        margin-left: 7vw;
    }
    nav ul{
        display: block;
        padding-top: 20vw;
        width: 65vw;
    }
    nav ul li{
        text-align: center;
        height: 20vw;
        position: relative;
        top: 10vw;
    }
    nav ul li a{
        font-size: 8vw;
    }
    .circle2,.circle3,.circle4,.circle5,.circle6,.circle7,.circle8{
        display: block;
    }
}

@media (max-width:400px){
    .circle9, .circle10{
        display: block;
    }
}
